@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');
html{
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
}


/* container */
.container{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

body{
    font-family: IBM Plex Sans, sans-serif;
    margin:0;
}

/*Navigation Bar*/

.nav-bar{
    text-align: right;
    margin-top: 2.5%;
}

.nav-bar li{
    text-decoration: none;
    display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    margin-left: 28px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(17, 17, 17);
}

.nav-bar a:hover{
    color: rgb(2, 2, 255);
    transition: .3s ease-in;
    transition-delay: .1s;
}

/*Home Banner Intro */

.grid-container-home{
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item-home h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: auto;

}

.grid-item-home p{
    width: 100%;
    font-size: 24px;
}

/*Services Section */

.head h1{
    font-size: 56px;
    font-weight: 700;
    margin-bottom: auto;
}

.head p{
    width: 100%;
    font-size: 24px;
}

.grid-container-services{
    display: grid;
    grid-template-columns: auto auto auto;
}

.service h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: auto;
}

.service p{
    width: 80%;
    font-size: 22px;
}

/* Wanna Hire Us? section */ 

.grid-container-pricing{
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item-pricing h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: auto;
}

/* Portfolio */

.grid-container-portfolio-1{
    display: grid;
    grid-template-columns: 60% 40%;
}

.grid-container-portfolio-2{
    display: grid;
    grid-template-columns: 40% 60%;
}

.grid-item-portfolio h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: auto;
}

.grid-item-portfolio p{
    width: 90%;
    font-size: 22px;
    text-align: justify;
}


.home-portfolio{
    margin-bottom:2.5%;
}



/* Footer section */ 

.row-3{
    padding-top: 5%;
    padding-bottom: 5%;
}

footer{
    background-color: black;
    color:white;
}

.grid-container-footer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-footer h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: auto;
}

.grid-item-footer ul{
    list-style: none;
    padding-left: 0;
}

.grid-item-footer a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.grid-item-footer p{
    font-size: 20px;
}


