@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

html{
    margin: 0!important;
    padding: 0!important;
}


/* container */
.container{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

body{
    font-family: IBM Plex Sans, sans-serif;
    margin:0;
}

/*Navigation Bar*/

#logo{
    border: none;
}

#logo:hover{
    text-color: #2a2a2a;
}

.main-menu-nav ul{
    display: flex;
    padding-left: 0;
}

.main-menu-nav li{
    flex: 0 0 auto;
}

.main-menu-nav li:nth-child(1){
    margin-right: auto;
}

#logo{
    margin-left: 0px !important;
}

.nav-bar{
    margin-top: 2.5%;
    list-style: none;
}

.nav-bar a{
    text-decoration: none;
    margin-left: 28px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(17, 17, 17);
}

.nav-bar a:hover{
    color: rgb(105, 105, 255);
    border-bottom: 2px solid rgb(105, 105, 255);
    transition: .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: .1s;
}

.nav-bar a.active{
    color: rgb(105, 105, 255);
    border-bottom: 2px solid rgb(105, 105, 255);
}

/*Home Banner Intro */

.container.home{
    height: 100vh;
    display: flex;
    align-items: center;
}

.flex-item-home{
    margin-left:auto;
}

.flex-item-home button{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 22px;
    font-weight: 700;
    padding: 10px 8px;
    border: 3px solid #2a2a2a;
    background-color: white; 
    text-decoration: none;
    color: #2a2a2a;
}

.flex-item-home button:hover{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 10px 8px;
    border: 3px solid #2a2a2a;
    background-color: #2a2a2a; 
    color: white;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
}

.flex-container-home{
    display: flex;
    align-items: center;
}

.banner h1{
    font-size: 64px;
    font-weight: 700;
    

}

.banner p{
    width: 80%;
    font-size: 28px;
    font-weight: 500;
}

.flex-item-home img{
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 600px;
}

/*Services Section */

.grid-item-services{
    padding-left: 20px;
}

a.lserv{
    text-decoration: none;
    color: #2a2a2a;
}

.service:hover a.lserv{
    color: mediumpurple;
    transition: .4s;
    cursor: pointer;
}

.head h1, h1.head{
    font-size: 56px;
    font-weight: 700;
}

.head p{
    width: 100%;
    font-size: 24px;
}

.grid-container-services{
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-column-gap: 2.5%;
    grid-row-gap: 2.5%;
}

.service h4{
    font-size: 28px;
    font-weight: 600;
    margin-bottom: auto;
}

.service p{
    width: 90%;
    font-size: 22px;
    text-align: justify;
}

/* Portfolio */


.home-portfolio{
    margin-bottom:2.5%;
}

/* Footer section */ 

.row-3{
    padding-top: 5%;
    padding-bottom: 5%;
}

footer{
    background-color: #2a2a2a;
    color:white;
}

.grid-container-footer{
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-footer h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: auto;
}

.grid-item-footer ul{
    list-style: none;
    padding-left: 0;
}

.grid-item-footer a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.grid-item-footer p{
    font-size: 20px;
}

/* About Page */

.container.about{
    display: flex;
    margin-left: 0;
}

.about.partners{
    height: 100vh;
}

.banner.about p{
    width: 90%;
}

/* Working Experience */

.container.imp{
    display: flex;
    flex-flow: row;
}

.grid-container{
    flex: 0 0 auto;
    display: grid;
    grid-template-columns: auto;
    margin-left: 5%
}

.grid-item{
    margin:0;
}

.grid-item h5{
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 8%;
}

.grid-item p{
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 0;
    margin-top: 0;
}

h1.intro.head{
    writing-mode: vertical-lr;
    margin-bottom: auto;
    font-size: 82px;
    margin-left: 0;
    margin-right: 20px;
}

.container.skills{
    display: flex;
}

p.inner{
    margin-left: 20px;
}

h1.intro.head.right{
    writing-mode: vertical-lr;
    margin-bottom: auto;
    font-size: 82px;
    margin-left: 20px;
    margin-right: 0;
}

.grid-item.skills h1{
    margin-top: 10%;
}



li.p, p.p{
    width: 80%;
    font-size: 26px;
    font-weight: 400;
}

.container.contactab{
    height: 25vh;
}

.banner.approach{
    height: 60vh;
}

.contact h4{
    font-size: 36px;
}

.contact > a{
    text-decoration: none;
    color: #2a2a2a;
}

.contact > a:hover{
    color: mediumpurple;
    transition: .4s;
}


/* Contact Page*/

/* Interested? section */ 
input, textarea{
    display: block;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-family: IBM Plex Sans, sans-serif;
    font-size: 24px;
    resize: vertical;
    border: none;
    border-bottom: 3px solid #2a2a2a;
    width: 100%;
}

.item-pricing-2 button{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding: .5% 2%;
    border: none;
    background-color: white; 
    text-decoration: none;
    color: #2a2a2a;
}

.item-pricing-2 button:hover{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 26px;
    font-weight: 600;
    padding: .5% 2%;
    border: none;
    background-color: #2a2a2a; 
    text-decoration: none;
    color: white;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.item-pricing h4{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: auto;
}


p.ps{
    font-size: 22px;
}

.banner.contactus{
    display: flex;
    height: 100vh;

}

.container-pricing{
    display: flex;
}

.address-flex-item{
    padding-top: 5%;
    padding-bottom: 5%;
}

.address-flex{
    display: flex;
    flex-direction: column;
}

.address-flex h4{
    font-size: 28px;
    margin-bottom: auto;
}

.address-flex p{
    font-size: 18px
}

.item-pricing-1{
    width: 25%;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 5%;
    padding-left: 5%;
}

.item-pricing-2{
    flex-grow: 2;
}


/* My Works Page */ 

.container.myworks{
    display: flex;
    height: 50vh;
    align-items: center;
}


/* Portfolio Showcase */

.container.showcase{
    display: flex;
    margin-bottom: 2%;
}

.flex-container-showcase{
    display: flex;
    flex-direction: column;
    margin-bottom: 6%;
}

.grid-nested-container{
    display: grid;
    grid-template-columns: 65% 30%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    grid-column-gap: 5%;
}

.grid-nested-container img{
    height: 100%;
    width: 100%;
    max-width: 1600px;
    max-height: 900px;
}

.flex-container-homeport{
    display: flex;
    flex-direction: column;
}

.flex-item-homeport{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.flex-item-homeport img{
    height: 100%;
    width: 100%;
    max-width: 1600px;
    max-height: 900px;
}

/* Services Page */

.service-items h2{
    font-size: 32px;
}

.service-items p{
    font-size: 28px;
    width: 80%;
}

.container.homeport{
    margin-bottom: 2%;
}

.showcase-info h4{
    font-size: 28px;
}

.showcase-info p{
    font-size: 22px;
}

.button-go{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 8px;
    border: 3px solid #2a2a2a;
    background-color: white; 
    text-decoration: none;
    color: #2a2a2a;
}

.button-go:hover{
    font-family: IBM Plex Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 10px 8px;
    border: 3px solid #2a2a2a;
    background-color: #2a2a2a; 
    color: white;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
}

.flex-container-homeport img:hover{
    filter: blur(10px);
    transition: .25s ease-in-out
}

@media all and (max-width: 600px) {  
    
    .nav-bar {  
      flex-wrap: wrap;  
    }  
      
    .nav-bar > li {  
      flex-basis: 50%;  
    }
  
  }

  @media all and (max-width: 400px) {  
    .nav-bar > li {  
      flex-basis: 100%;  
    }    
  }
  
  